.mtsdpadding{
    padding-left: 25%;
    padding-right: 25%;
}

.btnsbmt{
    box-shadow: none;
    background-color: cadetblue;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    box-shadow: none;
}